@import "../../materials/main.scss";

h1, h2, h3, h4 {
  color: var(--pref-text-color, $white1);
}

p, li, ul, ol {
  color: var(--text-muted, var(--pref-text-color, $white3));
}

a {
  color: var(--pref-accent-color, $lightBlue1);

  &:hover {
    color: var(--pref-text-color, $white2);
  }
}